<!DOCTYPE html>
<html lang="en">
<head>
<title>Mega Evolve</title>
<!-- Viewport Resposiveness -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Style Sheets -->
<link href = "{{site.baseurl}}/css/bootstrap.css" rel="Stylesheet">
<link href = "{{site.baseurl}}/css/styles.css" rel="Stylesheet">
</head>
<body>
<header>

<!-- Navbar -->
<div class = "navbar navbar-inverse navbar-fixed-top">
	<div class = "container">
		<!-- Brand -->
		<a href="{{site.url}}" class="navbar-brand">Mega Evolve</a>
		<!-- Collapsing buttons -->
		<button class = "navbar-toggle" data-toggle ="collapse" data-target =".navHeaderCollapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
			<!-- Search bar -->
			<!-- Menu -->
			<div class="collapse navbar-collapse navHeaderCollapse">
				<ul class = "nav navbar-nav navbar-right">
					<li class = "active"><a href="Index.html">Home</a></li>
					<li><a href="#">Pokedex</a></li>
					
					<!--Tools Dropdown -->
					<li class = "dropdown"><a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Tools <b class = "caret"></b></a>
						<ul class = "dropdown-menu">
							<li><a href = "#">Team Builder</a></li>
							<li><a href = "#">Damage Calculator</a></li>
							<li><a href = "#">Egg Calculator</a></li>
						</ul>
					</li>
					<!-- Guides Dropdown -->
					<li class = "dropdown"><a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Guides <b class = "caret"></b></a>
						<ul class = "dropdown-menu">
							<li><a href = "#">Old</a></li>
							<li><a href = "#">X&Y + ORAS</a></li>
							<li><a href = "#">Pokemon GO</a></li>
							<li><a href = "#">Sun & Moon</a></li>
						</ul>
					</li>
					<!-- Other Dropdown -->
					<li class = "dropdown"><a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Other <b class = "caret"></b></a>
						<ul class = "dropdown-menu">
							<li><a href = "#">Archive</a></li>
							<li><a href = "#">Fonts</a></li>
							<li><a href = "#">Wallpapers</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!--Collapsing buttons End -->
			
	</div>
</div>


</header>


{{content}}



<!-- Footer -->
<div class = "navbar navbar-default navbar-fixed-bottom" id="footer">
	<div class = "container">
	
	<a href="#" class = "navbar-btn btn-primary btn">Youtube</a>
	<a href="#" class = "navbar-btn btn-info btn">Twitter</a>
	<a href="http://www.twitch.tv/" class = "navbar-btn btn-warning btn">Twitch</a>
	
	</div>
</div>
<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{site.baseurl}}/js/bootstrap.js"></script>

</body>
</html>