<!DOCTYPE html>
<html lang="en">
<head>
<title>Mega Evolve</title>
<!-- Viewport Resposiveness -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Style Sheets -->
<link href = "{{site.baseurl}}/css/bootstrap.css" rel="Stylesheet">
<link href = "{{site.baseurl}}/css/styles.css" rel="Stylesheet">
</head>
<body>

{% include header.html %}

{{content}}

{% include footer.html %}

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{site.baseurl}}/js/bootstrap.js"></script>
<script src="js/PokedexScript.js"></script>
<script src="js/pokedex.js"></script>
</body>
</html>
